<br>
<main class="main-content">
  <div class="fullwidth-block inner-content">
    <div class="container">
      <h2 class="page-title">Login</h2>
      <div class="row">
        <div class="col-md-6">
          <form action="validate" method="post" enctype="multipart/form-data"  class="contact-form">
            <input type="text" name="username" placeholder="Username..." minlength=6 maxlength=50 required>
            <input type="password" name="password" placeholder="Password..." minlength=6 maxlength=50 required>
            <a href="#">forgot your password?</a>
            <input type="submit" value="Send message">
          </form>
        </div>

        <div class="col-md-6">
          <div class="col-sm-6">
            <img src="@routes.Assets.at("dummy/image.png")" alt="" style="width: 200%; height: 60%">
          </div>
        </div>

      </div>
    </div>



  </div> <!-- .testimonial-section -->
</main>