<br>
<main class="main-content">
  <div class="fullwidth-block inner-content">
    <div class="container">
      <h2 class="page-title">Register</h2>
      <div class="row">
        <div class="col-md-6">
          <form action="create" method="post" enctype="multipart/form-data" class="contact-form">
            <input type="text" name="name" placeholder="Your First Name" minlength=3 maxlength=50 pattern="[a-zA-Z0-9]+" required>
            <input type="text" name="username" placeholder="Username..." minlength=6 maxlength=50  pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{6,50}$" required>
            <input type="email" name="email" placeholder="Email Address.." minlength=15 maxlength=50 required>
            <input type="password" id="password" name="password" placeholder="Password..." minlength=6 maxlength=50 pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Please Confirm password..." minlength=6 maxlength=50 required>
            <input type="submit" value="Register">
          </form>
        </div>

        <div class="col-md-6">
          <div class="col-sm-6">
            <img src="@routes.Assets.at("dummy/image.png")" alt="" style="width: 200%; height: 60%">
          </div>
        </div>

      </div>
    </div>
  </div> <!-- .testimonial-section -->
  <script >
    var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirmPassword");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</main> <!-- .main-content -->