      <footer class="site-footer">
        <div class="container">
          <img src="@routes.Assets.at("dummy/logo.png")" alt="Site Title" style="width: 15%; height: 10%">

          <address>
            <p>Manchester <br><a href="http://nocopyrightsounds.co.uk/contact/">nocopyrightsounds.co.uk/</a> <br> </p>
          </address>

          <div class="social-links">
            <a href="https://www.facebook.com/NoCopyrightSounds/"><i class="fa fa-facebook-square"></i></a>
            <a href="https://twitter.com/ncsounds"><i class="fa fa-twitter"></i></a>
            <a href="https://plus.google.com/+NoCopyrightSounds?hl=es"><i class="fa fa-google-plus"></i></a>
            <a href="https://co.pinterest.com/pin/7248049379398490/"><i class="fa fa-pinterest"></i></a>
          </div> <!-- .social-links -->

          <p class="copy">Copyright 2014 Company Name. Designed by Themezy. All right reserved</p>
        </div>
      </footer> <!-- .site-footer -->

