<div class="hero">
  <div class="slider">
    <ul class="slides">
      <li class="lazy-bg" data-background="@routes.Assets.at("dummy/slide-1.jpg")">
        <div class="container">
          <h2 class="slide-title">SO HERE IT IS!</h2>
          <h3 class="slide-subtitle">Our second compilation album NCS: Infinity</h3>
          <p class="slide-desc">amazing unreleased tracks from Different Heaven, Mendum, Vidya Vidya, Alex Skrindo and William Ekh.
            These 5 unreleased tracks will be uploaded on our SoundCloud and YouTube over the coming days with a FREE DOWNLOAD Enjoy everyone!﻿</p>

          <a href="#" class="button cut-corner">Read More</a>
        </div>
      </li>
      <li class="lazy-bg" data-background="@routes.Assets.at("dummy/slide-2.jpg")">
        <div class="container">
          <h2 class="slide-title">Do you like Safari Fruits?</h2>
          <h3 class="slide-subtitle"> his latest single 'Run Away', the latest addition to our IndieDance collection</h3>
          <p class="slide-desc">We've been waiting too long to share this track with everyone.. Apart of our new compilation album NCS: Infinity! </p>

          <a href="#" class="button cut-corner">Read More</a>
        </div>
      </li>
      <li class="lazy-bg" data-background="@routes.Assets.at("dummy/slide-3.jpg")">
        <div class="container">
          <h2 class="slide-title">Today we present Siren </h2>
          <h3 class="slide-subtitle"> his latest single 'Run Away', the latest addition to our IndieDance collection</h3>
          <p class="slide-desc">So many of you have been enjoying our Indie Dance releases recently. We're really happy
            we can always mix things up by featuring a variety of styles to such a wonderful community with an open mind
            to new music! We want to thank everyone who follows us for the constant support and love as always!﻿</p>

          <a href="#" class="button cut-corner">Read More</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<main class="main-content">
  <div class="fullwidth-block testimonial-section">
    <div class="container">
      <div class="quote-slider">
        <ul class="slides">
          <li>
            <blockquote>
              <p>"The best channel with great music for small YouTubers"</p>
              <cite>ZakSafari</cite>
              <span>youtube user</span>
            </blockquote>
          </li>
          <li>
            <blockquote>
              <p>"A while back my favorite YouTube dubstep music releaser was trap nation but then I heard of you and ur releases are better.﻿"</p>
              <cite>CheesyPotato</cite>
              <span>Another youtube user</span>
            </blockquote>
          </li>
          <li>
            <blockquote>
              <p>"Woop woop! Mad love for you guys!"</p>
              <cite>Venemy</cite>
              <span>NCS Artist</span>
            </blockquote>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- .testimonial-section -->

  <div class="fullwidth-block upcoming-event-section" data-bg-color="#191919">
    <div class="container">
      <header class="section-header">
        <h2 class="section-title">Upcoming events</h2>

        <div class="event-nav">
          <a class="prev" id="event-prev" href="#"><i class="fa fa-caret-left"></i></a>
          <a class="next" id="event-next" href="#"><i class="fa fa-caret-right"></i></a>
        </div> <!-- .event-nav -->

      </header> <!-- .section-header -->
      <div class="event-carousel">

        <div class="event">
          <div class="entry-date">
            <div class="date">10</div>
            <span class="month">May</span>
          </div>
          <h2 class="entry-title"><a href="#">Surprise!</a></h2>
          <p>We've got the perfect 24 hour stream built just for you. - Enjoy our catalogue of music while gaming, relaxing or studying! </p>
        </div> <!-- .event -->


        <div class="event">
          <div class="entry-date">
            <div class="date">26</div>
            <span class="month">Apr</span>
          </div>
          <h2 class="entry-title"><a href="#">NCS Release</a></h2>
          <p>Going in on his NCS debut! Michael White with 'All Eyes On Me'.</p>
        </div> <!-- .event -->


        <div class="event">
          <div class="entry-date">
            <div class="date">8</div>
            <span class="month">Apr</span>
          </div>
          <h2 class="entry-title"><a href="#">New music for the weekend!</a></h2>
          <p>EGZOD - Paper Crowns (feat. Leo The Kind)
            Listen <a href="#">https://youtu.be/Cn0ltDyWDow…</a></p>
        </div> <!-- .event -->


        <div class="event">
          <div class="entry-date">
            <div class="date">1</div>
            <span class="month">Apr</span>
          </div>
          <h2 class="entry-title"><a href="#">Axtasia joins the family</a></h2>
          <p>Axtasia joins the family, with their new track 'Light Up The Sky' featuring the wonderful Soundr! </p>
        </div> <!-- .event -->

        <div class="event">
          <div class="entry-date">
            <div class="date">28</div>
            <span class="month">Feb</span>
          </div>
          <h2 class="entry-title"><a href="#">THANK YOU! </a></h2>
          <p>We have finally reached 10 million subscribers</p>
        </div> <!-- .event -->

      </div> <!-- .event-carousel -->
    </div> <!-- .container -->
  </div> <!-- .upcoming-event-section -->

  <div class="fullwidth-block why-chooseus-section">
    <div class="container">
      <h2 class="section-title">Why choose us?</h2>

      <div class="row">
        <div class="col-md-4">
          <div class="feature">
            <figure class="cut-corner">
              <img src="@routes.Assets.at("dummy/medium-image-1.jpg")" alt="">
            </figure>

            <p>NoCopyrightSounds is a record label dedicated to releasing FREE music for the sole purpose of providing
              creators with the finest sounds to enhance the creativity and popularity of their content, safe from any
              copyright claims or infringement.</p>
          </div> <!-- .feature -->
        </div>
        <div class="col-md-4">
          <div class="feature">
            <figure class="cut-corner">
              <img src="@routes.Assets.at("dummy/medium-image-2.jpg")" alt="">
            </figure>

            <p>NCS Music is free to use for independent Creators and their UGC (User Generated Content) on Youtube &
              Twitch - please remember to credit the artist, track and NCS and link back to our original upload.</p>
          </div> <!-- .feature -->
        </div>
        <div class="col-md-4">
          <div class="feature">
            <figure class="cut-corner">
              <img src="@routes.Assets.at("dummy/medium-image-3.jpg")" alt="">
            </figure>

            <p>If you're a brand or a commercial organisation interested in using NCS music on Youtube or anywhere else,
              get in touch at licensing@@nocopyrightsounds.co.uk</p>
          </div> <!-- .feature -->
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .why-chooseus-section -->
</main> <!-- .main-content -->
