@(usuario: User, canciones: List[Song])
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
        Dashboard
      <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

    <!-- Main content -->
  <section class="content">

    @if(flash.containsKey("success")){
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> Success!</h4>
        @flash.get("success")
      </div>
    }
    @if(flash.containsKey("error")){
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
        @flash.get("error")
      </div>
    }
      <!-- Info boxes -->
    <section class="content" id="modificarUsuario">
      <div class="row">
          <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">General account settings</h3>
            </div>
              <!-- /.box-header -->
              <!-- form start -->
            <form role="form" action="modify" method="post" enctype="multipart/form-data">
              <input type="hidden" value="@usuario.getId" name="usuarioid">
              <div class="box-body">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" minlength=15 maxlength=50>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Name</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-check"></i></span>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" pattern="[a-zA-Z0-9]+" minlength=3 maxlength=50>
                  </div>
                </div>
              </div>
                <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>

            <div class="box-header with-border">
              <h3 class="box-title">Change Password</h3>
            </div>
            <form role="form" action="changePassword" method="post">
              <input type="hidden" value="@usuario.getId" name="usuarioid">
              <div class="box-body">
                <div class="form-group">
                  <label for="modifyPassword">Password</label>
                  <input type="password" class="form-control" id="modifyPassword" name="modifyPassword" minlength=6 maxlength=50 placeholder="Password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
                </div>
                <div class="form-group">
                  <label for="confirmModifyPassword">Confirm Password</label>
                  <input type="password" class="form-control" id="confirmModifyPassword" name="confirmModifyPassword" minlength=6 maxlength=50 placeholder="Confirm Password" required>
                </div>

              </div>
                <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
            <form action="deleteUser" method="POST">
              <input type="hidden" value="@usuario.getId" name="usuarioid">
              <div class="box-footer">
                <button type="submit" class="btn btn-danger">Delete Account</button>
              </div>
            </form>
          </div>
            <!-- /.box -->
        </div>
          <!--/.col (left) -->
      </div>
        <!-- /.row -->
    </section>

    <section class="content" id="crearCancion">
      <div class="row">
          <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Create a new Song</h3>
      </div>
        <!-- /.box-header -->
        <!-- form start -->
      <form role="form" action="upload" METHOD="post" enctype="multipart/form-data">
        <input type="hidden" value="@usuario.getId" name="usuarioid">
        <div class="box-body">
          <div class="form-group">
            <label for="nameSong">Name</label>
            <input type="text" class="form-control" id="nameSong" name="nameSong" placeholder="Enter name song" pattern="[a-zA-Z0-9]+" minlength=3 maxlength=50 required>
          </div>
          <div class="form-group">
            <label for="genre">Song Genre</label>
            <input type="text" class="form-control" id="genre" name="genre" placeholder="Genre" pattern="[a-zA-Z0-9]+" minlength=3 maxlength=50 required>
          </div>
          <div class="form-group">
            <label for="songArchive">Song archive</label>
            <input type="file" id="songArchive" name="songArchive" accept="audio/*" required>

            <p class="help-block">Only supports .mp3, .ogg, .wav.</p>
          </div>
        </div>
          <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
        </div>
      </div>
    </section>

    <section class="content" id="Canciones">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">All of your songs</h3>
            </div>
              <!-- /.box-header -->
            <div class="box-body">
              <table id="songs" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Song Name</th>
                    <th>Genre</th>
                    <th>Play!</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @if(canciones != null){
                    @for(cancion <- canciones){
                      <tr>
                        <td>@cancion.getName</td>
                        <td>@cancion.getGenre</td>
                        <td><audio src="@routes.Assets.at(cancion.getPath)" id="audio" controls></audio></td>
                        <form action="deleteSong" method="post">
                          <input type="hidden" value="@cancion.getId" name="cancionid">
                          <td> <button type="submit" class="btn btn-block btn-danger"><i class="fa fa-trash"></i></button></td>
                        </form>

                      </tr>
                    }
                  }
                </tbody>
                <tfoot>
                  <tr>
                    <th>Song Name</th>
                    <th>Genre</th>
                    <th>Play!</th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </div>
              <!-- /.box-body -->
          </div>
            <!-- /.box -->
        </div>
          <!-- /.col -->
      </div>
        <!-- /.row -->
    </section>
      <section class="content" id="Reproductor">
        <div class="row">
            <!-- left column -->
          <div class="col-md-6">

          </div>
        </div>
      </section>
  </section>
    <!-- /.content -->
</div>
  <!-- /.content-wrapper -->
<script >
    var password = document.getElementById("modifyPassword")
            , confirm_password = document.getElementById("confirmModifyPassword");

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>